.card{
    background-color: #fff;
    color:#282828;
    padding: 10px;

};

.card-title{
    font-size: 14px;

};

.card-description{
    font-size: 12px;

}

img{
    width:288px;
    height:182px;
    margin-bottom: 100px;
}